@import url('https://fonts.googleapis.com/css?family=Signika+Negative:400,600,700|Cookie');


* {
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(rgba(10, 10, 5, .3), rgba(10, 10, 5, .5)), url(../images/backgrounds/bg1.jpg) top center no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100vh;
	font-family: 'Signika Negative', serif;
	font-size: 16px;
}

.login_box {
	background-color: #eee;
	width: 35%;
	margin: auto;
	border: 1px solid #ededed;
	border-radius: 10px;
	padding: 10px;
	opacity: .95;
	margin-top: 50px;
	box-shadow: 5px 5px 2px 0 #555;
}


.login_header {
	text-align: center;
	background-color: rgb(52, 152, 219);
	margin: -10px -10px 10px -10px;
	padding: 10px 0;
	border-radius: 10px;
	color: #fff;
}

.login_header h1 {
	font-family: 'Cookie', cursive;
	font-size: 3em;
	text-shadow: 1.5px 2px 3px;
}

form {
	text-align: center;
}

form a {
	text-decoration: none;
	/*background-color: #ccc;*/
	opacity: .7;
	padding: 5px;
	border-radius: 5px;
	display: inline-block;
	width: 120px;
	color: rgb(52, 152, 219);
	margin-bottom: 10px;
}

form a:hover {
	color: #000;
}

input[type="submit"] {
	padding: 10px 10px;
	background-color: rgb(52, 152, 219);
	border: none;
	border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.2em;
	font-family: 'Cookie', serif; 
	margin-bottom: 15px;
	width: 100%;
	font-weight: 700;
}

input[type="submit"]:focus {
	outline: none;
}

input[type="text"], input[type="email"], input[type="password"] {
	padding: 10px 5px;
	font-size: .9em;
	border: none;
	box-shadow: 3px 2px 2px 0 #000;
	width: 80%;
	text-align: center;
	background-color: #eee;
	border-radius: 3px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 3px;
}


input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover {
	border-color: rgb(52, 152, 219);
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
	outline: none;
	background-color: #fff;
}

.second {
	display: none;
}